body {
  background-color: #F8F8F8;
}
h1 {
  font-size: 1.33rem;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-weight: normal;
  text-align: center;
}

ol {
  list-style-type: none;
}

li {
  line-height: 1.5rem;
}

table {
  border-collapse: collapse;
  background-color: white;
  margin: 0 auto 0 auto;
  border: 4px solid #f8f8f8;
}

th {
  background-color: #f8f8f8;
  color: #555;
  font-family: sans-serif;
  letter-spacing: 1px;
}

td {
  background-color: white;
  border: 4px solid #f8f8f8;
  font-family: sans-serif;
}

td, th {
  vertical-align: top;
  text-align: left;
  padding: 3px 6px;
}

a {
  color: #304A7B;
}

p {
  text-align: center;
  text-indent: 0;
}

section p {
  text-align: left;
}

section p + section p {
  text-indent: 1.2em;
}
