main {
  margin: 0 auto;
  text-align: center;
  background-color: #F8F8F8;
  height: 100vh;
}

iframe {
  margin: 1em auto;
  border-top: .5in solid white;
  border-bottom: .5in solid white;
  background-color: white;
  display: block;
  text-align: center;
}

body {
  background-color: #aaa;
}

#page-controls {
  display: inline-block;
}

.button, .status, span.download {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#wrapper input, #wrapper span, #wrapper .page-controls {
  -webkit-flex: 1;
  -webkit-align-items: center;
}

#page-controls input.work-offline {
  display: none;
}

#pub {
  width: 600px;
  height: 75vh;
}

form {
  display: inline;
}
